@import "tailwindcss";

@theme {
  --color-primary: #e9204f;
  --color-highlight: #ff4672;
  --color-foreground: #f3f3f3;
  --color-card: #222322;
  --color-background: #1b1b1b;
  --color-fade: #080617e6;

  --font-karantina: Karantina, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-imbue: Imbue, sans-serif;
  --font-inika: Inika, sans-serif;

  --text-10xl: 10rem;
  --text-11xl: 11rem;
  --text-13xl: 13rem;

  --background-image-main: url("/src/assets/backgrounds/main_background.svg");
  --background-image-header: url("/src/assets/backgrounds/header_background.svg");

  --shadow-red: 0 0 50px 0 #e9204f80;
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
